@charset "utf-8";
@import 'common.css';

.navigation{width:100%;height:68px;line-height:68px;background:#fff;border-bottom:1px solid #d8d8d8;position:fixed;top:0;left:0;z-index:100;}
.navigation .logo{display:block;position:absolute;top:22px;left:30px;width:95px;height:auto;}
.navigation .logo img{display:block;width:100%;}
.navigation ul.Lmenu{display:block;text-align:center;}
.navigation ul.Lmenu li{display:inline-block;margin:0 30px;}
.navigation ul.Lmenu li a{color:#000;font-family:'Raleway', sans-serif;font-weight:400;font-size:17px;}
.navigation ul.Lmenu li a.on,
.navigation ul.Lmenu li a:hover{color:#e11e25;}
.subNavi{position:fixed;top:67px;left:0;z-index:50;overflow:hidden;width:100%;height:1px;line-height:60px;border-bottom:1px solid #d8d8d8;display:block;background:#fff;}
.subNavi ul.Smenu{display:block;position:absolute;top:0;left:50%;}
.subNavi ul.Smenu li{display:block;margin:0 30px;float:left;}
.subNavi ul.Smenu li a{font-size:13px;color:#333;}
.subNavi ul.Smenu li a:hover{color:#e11e25;}
.subNavi ul.menu01{margin:0 0 0 -312px;}
.subNavi ul.menu02{margin:0 0 0 -230px;}
.moMenu{display:block;width:36px;position:absolute;top:0;left:0;padding:4px;display:none;}
.moMenu img{display:block;width:100%;}
.moMenuArea{display:none;width:100%;height:100%;position:fixed;top:0;left:0;z-index:100;}
.moMenuArea .bgblock{background:#000;width:100%;height:100%;opacity:0.5;}
.moMenuArea .moMenuList{width:180px;padding:0 10px;height:100%;position:fixed;top:0;left:0;z-index:100;background:#fff;border-right:1px solid #c8c8c8;}
.moMenuArea .moMenuList ul{display:block;margin-top:30px;}
.moMenuArea .moMenuList li{display:block;border-top:1px solid #c8c8c8;}
.moMenuArea .moMenuList ul li:first-child{border:0;}
.moMenuArea .moMenuList li a{display:block;padding:0 0 0 30px;color:#333;}
.moMenuArea .moMenuList li a:hover{color:#e60012;}
.moMenuArea .moMenuList li a.more{background:url("../img/icn_mo01.png") no-repeat 7px center;background-size:10px 10px;}
.moMenuArea .moMenuList li .more.on{background:url("../img/icn_mo02.png") no-repeat 7px center;background-size:10px 10px;}
.moMenuArea .moMenuList li .liMenu{display:block;height:40px;line-height:40px;color:#333;font-size:14px;font-family:'Raleway', sans-serif;font-weight:400;}
.moMenuArea .moMenuList dl{display:block;margin:0 0 10px 0;display:none;}
.moMenuArea .moMenuList dd{display:block;border-top:1px solid #dedede;height:30px;line-height:30px;color:#333;font-size:12px;}
.moMenuArea .moMenuList dd a{display:block;padding:0 0 0 30px;}
.moMenuArea .moMenuClose{display:block;position:absolute;top:0px;left:160px;width:20px;padding:10px;z-index:100;}
.moMenuArea .moMenuClose img{display:block;width:100%;}
.footer{border-top:1px solid #d8d8d8;width:100%;height:39px;line-height:39px;font-family:'Raleway', sans-serif;font-weight:400;font-size:10px;color:#777;background:#fff;}
.footer.main{position:absolute;bottom:0;left:0;z-index:20px;}
.footer img{display:inline-block;vertical-align:middle;margin:0 10px 0 20px;}
.fixmenu{position:absolute;right:20px;top:50%;margin:-305px 0 0 0;width:280px;height:630px;padding:0;z-index:10;}
.wrap{overflow:hidden;}
.wrap.cf{margin:0 0 0 0;}
#slideBock{width:100%;height:100%;position:absolute;top:0;left:0;z-index:5;}
#slideBock li{display:block;width:100%;height:100%;color:#000;font-size:50px;opacity:0.0;}
.main_title{font-size:28px;color:#333;position:absolute;top:90px;left:40px;z-index:10;}
.main_title.fullScreen{top:20px;}
.main_title span{font-family:'Raleway', sans-serif;font-weight:300;line-height:1.2em;}
.mainSliderBtn{position:absolute;top:50%;left:0;width:100%;margin:-100px 0 0 0;z-index:10;opacity:0.2;}
.prevBtn{position:absolute;top:50%;left:55px;cursor:pointer;padding:20px;}
.nextBtn{position:absolute;top:50%;right:355px;cursor:pointer;padding:20px;}
.nextBtn.fullScreen{right:55px;}
#main_custom{position:relative;width:100%;height:100%;overflow:hidden;background:#fff;}
#custom_visual{position:absolute;width:100%;height:100%;top:0;left:0;}
.svg_angle{width:100%;}
.rightMenu{background:#e3e3e3;border-radius:10px;width:260px;padding:10px 10px;overflow:hidden;margin-bottom:10px;}
.rightMenu .toggleTitle{display:block;background:url("../img/icn_toggle.png") no-repeat 10px -11px;background-position:10px 10px;font-family:'Raleway', sans-serif;font-weight:700;font-size:14px;height:30px;line-height:30px;width:220px;padding:0 0 0 30px;color:#848484;}
.rightMenu .toggleTitle.on{background-position:10px -11px;color:#333;}
.rightMenu .toggleTitle.none{background:none;padding:0 0 0 10px;color:#333;}
.rightMenu ul{display:block;margin:0 0 0 5px;zoom:1;}
.rightMenu ul:after{clear:both;display:block;content:'';}
.rightMenu ul li{display:block;width:70px;height:70px;float:left;margin:6px 6px;}
.rightMenu.product a.icn{display:block;width:70px;height:70px;background-size:70px 140px;background-position:0 0;}
.rightMenu.product .icn.on{background-position:0 bottom;}
.rightMenu.product a.icn01{background-image:url("../img/icn_pd01.png");}
.rightMenu.product a.icn02{background-image:url("../img/icn_pd02.png");}
.rightMenu.product a.icn03{background-image:url("../img/icn_pd03.png");}
.rightMenu.product a.icn04{background-image:url("../img/icn_pd04.png");}
.rightMenu.product a.icn05{background-image:url("../img/icn_pd05.png");}
.rightMenu.product a.icn06{background-image:url("../img/icn_pd06.png");}
.rightMenu.color .menuUl{display:none;overflow:hidden;}
.rightMenu.color .menuUl.on{display:block;}
.rightMenu.color a.col{display:block;width:70px;height:70px;border-radius:35px;}
.rightMenu.color a.col span{display:block;width:70px;height:70px;border-radius:35px;}
.rightMenu.color .col.on span{background-position:0 bottom;background-image:url("../img/icn_optioChk.png");background-size:25px 25px;background-repeat:no-repeat;background-position:center center;}
.rightMenu.color a.col00{background-color:#fff;}
.rightMenu.color a.col01{background-color:#8a8a8a;}
.rightMenu.color a.col02{background-color:#333;}
.rightMenu.color a.col03{background-color:#b27d50;}
.rightMenu.color a.col04{background-color:#715740;}
.rightMenu.color a.col05{background-color:#9e474d;}
.rightMenu.color a.col06{background-color:#476849;}
.rightMenu.color a.col07{background-color:#46505e;}
.rightMenu.color a.col08{background-color:#625664;}
.rightMenu.print .menuUl{height:0px;overflow:hidden;}
.rightMenu.print a.pnt{display:block;width:70px;height:70px;border-radius:35px;background-position:center center;background-size:70px 79px;background-color:#fff;background-repeat:no-repeat;}
.rightMenu.print a.pnt span{display:block;width:70px;height:70px;border-radius:35px;}
.rightMenu.print .pnt.on span{background-position:0 bottom;background-image:url("../img/icn_optioChk.png");background-size:25px 25px;background-repeat:no-repeat;background-position:center center;}
.zoomTool{}
#zoompage{display:block;position:absolute;top:95px;right:30px;z-index:10;opacity:0.5;width:38px;}
#zoompage:hover{opacity:1.0;}
#zoompage img{display:block;width:100%;}
.zoomTool{display:none;}
.zoomTool .zoomClose{display:block;position:absolute;top:0px;right:0px;border:1px solid #8a8a8a;border-top:none;border-right:none;padding:10px;opacity:0.5;width:20px;}
.zoomTool .zoomClose:hover{opacity:1.0;}
.zoomTool .zoomClose img{display:block;width:100%;}
.zoomTool .svgZoom{display:block;position:absolute;top:90px;right:30px;}
.zoomTool .svgZoom li{display:block;float:left;width:38px;margin:0 10px;opacity:0.5;}
.zoomTool .svgZoom li:hover{opacity:1.0;}
.zoomTool .svgZoom li img{display:block;width:100%;}
#pageMove{display:block;position:absolute;z-index:10;padding:0;bottom:6px;right:6px;width:19px;height:19px;padding:10px;display:none;background:url("../img/icn_nextPage.png") no-repeat center center;background-size:19px 19px;}
#pageMove.on{background:url("../img/icn_nextPage2.png") no-repeat center center;background-size:19px 19px;}
.customSetArea{display:block;position:absolute;bottom:55px;left:50%;width:930px;margin:0 0 0 -465px;z-index:5;overflow:hidden;}
.customSetArea .title{font-size:14px;color:#535353;font-family:'Raleway', sans-serif;font-weight:700;}
.customSetArea .customSetList{display:block;margin:15px 0 0 -10px;}
.customSetArea .customSetList li{width:110px;height:80px;margin:0 10px;position:relative;float:left;}
.customSetArea .customSetList li span{display:block;width:110px;height:80px;opacity:0.25;background:#8f8f8f;border-radius:10px;}
.customSetArea .customSetList li img{display:block;position:absolute;top:0;left:50%;width:78px;margin:0 0 0 -39px;}
.btnArea{text-align:center;}
.btnArea.center a{margin:0 auto;}
.btnArea .btnClass{text-align:center;margin:0 5px;}
.btnClass{display:inline-block;min-width:90px;padding:0 15px;height:32px;line-height:32px;font-size:12px;text-align:center;background:#fff;color:#333;border:1px solid #8a8a8a;border-radius:15px;}
.btnClass:hover{background:#e01f25;color:#fff;border:1px solid #e01f25;}
.btnClass.oc:hover{background:#e01f25;color:#fff;border:1px solid #e01f25;}
.btnClass.impot{background:#333;color:#fff;border:1px solid #333;}
.btnClass.oc{display:block;min-width:60px;width:60px;height:24px;line-height:24px;font-size:10px;border-radius:12px;margin:5px 0 0 0;}
.btnClass.trance{background:rgba(0,0,0,0.0);color:#fff;border:1px solid #fff;}
.btnClass.list{display:block;width:60px;margin:0 auto;font-weight:normal;padding:0 10px;height:24px;line-height:24px;border:1px solid #c5c5c5;}
.btnClass.list:hover{background:#e01f25;color:#fff;border:1px solid #e01f25;}
.langSelectBox{display:block;position:absolute;top:0px;right:20px;}
.langSelectBox select{display:none;width:40px;height:30px;line-height:30px;}
.select_add{text-indent:5px;display:block;overflow:hidden;font-size:11px;font-family:'Raleway', sans-serif;font-weight:400;background:#fff url("../img/icn_lang.png") no-repeat right center;padding:0 10px 0 0;text-indent:5px;background-size:10px 3px;white-space:nowrap;text-overflow:ellipsis;width:50px;color:#333;height:30px;line-height:30px;}
.mobileOptionProduct{display:block;position:absolute;z-index:10;width:54px;height:100%;border-left:1px solid #d8d8d8;background:#e3e3e3;right:0;top:46px;}
.mobileOptionProduct ul{display:block;position:absolute;top:30px;left:2px;height:340px;}
.mobileOptionProduct ul li{display:block;margin:8px 0;}
.mobileOptionProduct a.icn{display:block;width:45px;height:45px;background-size:45px 90px;background-position:0 0;}
.mobileOptionProduct .icn.on{background-position:0 bottom;}
.mobileOptionProduct a.icn01{background-image:url("../img/icn_pd01.png");}
.mobileOptionProduct a.icn02{background-image:url("../img/icn_pd02.png");}
.mobileOptionProduct a.icn03{background-image:url("../img/icn_pd03.png");}
.mobileOptionProduct a.icn04{background-image:url("../img/icn_pd04.png");}
.mobileOptionProduct a.icn05{background-image:url("../img/icn_pd05.png");}
.mobileOptionProduct a.icn06{background-image:url("../img/icn_pd06.png");}
.mobileOptionTool{position:absolute;width:100%;height:135px;bottom:0;left:0;z-index:10;}
.mobileOptionTool .tab{display:block;background:#fff;}
.mobileOptionTool .tab li{display:block;position:absolute;top:0;border:1px solid #d8d8d8;width:33%;left:33%;height:30px;background:#fff;border-bottom:1px solid #c8c8c8;z-index:1;}
.mobileOptionTool .tab li a{display:block;text-align:center;height:30px;line-height:30px;font-family:'Raleway', sans-serif;font-weight:700;color:#aeaeae;}
.mobileOptionTool .tab li.on{border:1px solid #c8c8c8;border-bottom:1px solid #e3e3e3;background:#e3e3e3;z-index:2;}
.mobileOptionTool .tab li.on a{color:#333;}
.mobileOptionTool .tab li:first-child{left:0;}
.mobileOptionTool .tab li:last-child{width:34%;left:66%;}
.mobileOptionTool .bottomMenu{display:block;}
.mobileOptionTool .btnArea{background:#fff;padding:8px 0 9px 0;}
.mobileOptionTool .btnArea .btnClass{margin:0 20px 0 0;}
.bottomMenu{background:#e3e3e3;margin:32px 0 0 0;padding:6px 0 7px 0;border-bottom:1px solid #d8d8d8;}
.bottomMenu ul{display:block;margin:0 0 0 0;zoom:1;}
.bottomMenu ul:after{clear:both;display:block;content:'';}
.bottomMenu ul li{display:block;width:45px;height:45px;float:left;margin:0 6px;}
.bottomMenu.color{height:45px;}
.bottomMenu.color .menuUl{display:none;width:530px;overflow:hidden;}
.bottomMenu.color .menuUl.on{display:block;}
.bottomMenu.color a.col{display:block;width:45px;height:45px;border-radius:22px;}
.bottomMenu.color a.col span{display:block;width:45px;height:45px;border-radius:22px;}
.bottomMenu.color .col.on span{background-position:0 bottom;background-image:url("../img/icn_optioChk.png");background-size:19px 19px;background-repeat:no-repeat;background-position:center center;}
.bottomMenu.color a.col00{background-color:#fff;width:44px;height:44px;border:1px solid #c8c8c8;}
.bottomMenu.color a.col01{background-color:#8a8a8a;}
.bottomMenu.color a.col02{background-color:#333;}
.bottomMenu.color a.col03{background-color:#b27d50;}
.bottomMenu.color a.col04{background-color:#715740;}
.bottomMenu.color a.col05{background-color:#9e474d;}
.bottomMenu.color a.col06{background-color:#476849;}
.bottomMenu.color a.col07{background-color:#46505e;}
.bottomMenu.color a.col08{background-color:#625664;}
.bottomMenu.print{height:45px;display:none;}
.bottomMenu.print .menuUl{width:530px;overflow:hidden;}
.bottomMenu.print a.pnt{display:block;width:45px;height:45px;border-radius:22px;background-position:center center;background-size:40px 45px;background-color:#fff;background-repeat:no-repeat;}
.bottomMenu.print a.pnt span{display:block;width:45px;height:45px;border-radius:22px;}
.bottomMenu.print .pnt.on span{background-position:0 bottom;background-image:url("../img/icn_optioChk.png");background-size:19px 19px;background-repeat:no-repeat;background-position:center center;}
.bottomMenu.set{height:45px;display:none;}
.bottomMenu.set .menuUl{width:700px;overflow:hidden;}
.bottomMenu.set li{width:75px;height:45px;position:relative;float:left;}
.bottomMenu.set li span{display:block;width:75px;height:45px;background:#fff;border-radius:10px;}
.bottomMenu.set li img{display:block;position:absolute;top:0;left:50%;width:45px;margin:0 0 0 -22px;}
.mobileOptionProduct, .mobileOptionTool{display:none;}
#resultLayer{display:block;position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:10;display:none;background:#fff;}
#capLayout{width:800px;height:800px;position:absolute;top:50%;left:50%;margin:-400px 0 0 -360px;}
#canvas_capture{display:block;width:800px;height:800px;position:absolute;top:0;left:-140px;}
#cap_img{display:block;width:100%;}
.capImgblock{display:block;position:absolute;width:100%;height:100%;top:0px;left:0;background:#ffffff;opacity:0.0;}
.resultLayer .resultClose{display:block;position:absolute;top:0px;right:0px;border:1px solid #8a8a8a;border-top:none;border-right:none;padding:10px;opacity:0.5;width:20px;}
.resultLayer .resultClose:hover{opacity:1.0;}
.resultLayer .resultClose img{display:block;width:100%;}
.resultLayer .resultInfo{display:block;position:absolute;bottom:50%;left:50%;width:270px;margin:0 0 -220px 110px;}
.resultLayer .resultInfo .tableArea{width:240px;padding:15px;background:#e3e3e3;border-radius:15px;}
.resultLayer .resultInfo .snsArea{width:240px;padding:15px;background:#e3e3e3;border-radius:15px;margin:10px 0 0 0;}
.resultLayer .resultInfo .infoTl{font-size:14px;color:#333;font-family:'Raleway', sans-serif;font-weight:700;padding:0 0 5px 0;}
.resultLayer .btnArea{margin:10px 0 0 0;}
.divTable{width:100%;}
.divTable ul{display:block;zoom:1;}
.divTable ul:after{clear:both;display:block;content:'';}
.divTable li{display:block;}
.divTable li span{display:block;float:left;height:40px;background-size:50px 100px;background-position:center -5px;background-repeat:no-repeat;}
.divTable li:first-child .codeIcn{border-top:1px solid #333;}
.divTable li:first-child .codeText{border-top:1px solid #ddd;}
.divTable li .codeIcn{width:20%;border-right:0;border:1px solid #333;border-top:0;}
.divTable li .codeText{width:78%;height:40px;line-height:40px;text-indent:10px;background-color:#fff;border:1px solid #ddd;border-top:0;border-left:0;}
.divTable li .codeImg2{background-image:url("../img/icn_pd01.png");}
.divTable li .codeImg3{background-image:url("../img/icn_pd02.png");}
.divTable li .codeImg4{background-image:url("../img/icn_pd04.png");}
.divTable li .codeImg5{background-image:url("../img/icn_pd03.png");}
.divTable li .codeImg6{background-image:url("../img/icn_pd05.png");}
.divTable li .codeImg7{background-image:url("../img/icn_pd06.png");}
.divTable li .codeImg8{background-color:#fff;}
.divTable li .codeImg8 img{display:block;width:40px;margin:0 auto;}
.snsArea{position:relative;}
.codCopy{width:100%;height:20px;padding:5px 0;background:#fff;color:#333;font-size:11px;word-break:break-all;overflow:auto;}
.codCopy input{width:90%;background:#fff;border:0;display:block;margin:0 auto;}
.snsArea .copyBtn{display:block;position:absolute;right:10px;top:5px;display:block;background:#fff;color:#333;border:1px solid #8a8a8a;min-width:70px;width:70px;height:20px;line-height:20px;font-size:10px;border-radius:10px;margin:5px 0 0 0;text-align:center;}
#custom_visual{cursor:move;cursor:grab;cursor:-moz-grab;cursor:-webkit-grab;}
#custom_visual:active{cursor:grabbing;cursor:-moz-grabbing;cursor:-webkit-grabbing;}
.directoryMap{display:none;width:100%;height:26px;line-height:26px;color:;border-bottom:1px solid #d8d8d8;z-index:10;background:#fff;color:#999;font-weight:bold;font-size:10px;position:absolute;top:46px;left:0;}
.directoryMap span{color:#000;display:inline-block;margin:0 5px;font-weight:normal;}
.directoryMap span:first-child{margin-left:15px;}
.contentArea{min-height:600px;}
.titleArea{width:100%;padding:150px 0 55px 0;}
.titleArea.bg01{background:url("../img/pic/bg_title01.jpg") no-repeat center center;background-size:cover;}
.titleArea.bg02{background:url("../img/pic/bg_title02.jpg") no-repeat center center;background-size:cover;}
.titleArea.bg03{background:url("../img/pic/bg_title03.jpg") no-repeat center center;background-size:cover;}
.titleArea.bg04{background:url("../img/pic/bg_title04.jpg") no-repeat center center;background-size:cover;}
.titleArea .tlText{font-size:40px;line-height:30px;font-family:'Raleway', sans-serif;font-weight:200;color:#fff;display:block;max-width:980px;margin:0 auto;padding:0 30px;}
.contArea{width:100%;max-width:980px;margin:0 auto;padding-bottom:100px;}
.contArea .contText{font-size:13px;color:#555;line-height:24px;padding:40px;max-width:800px;}
.contArea .contText strong{color:#333;font-size:15px;}
.contArea .contDirgrm{}
.contArea .contDirgrm .dirTl{font-size:18px;color:#777;font-family:sans-serif;padding:0 30px;font-weight:bold;margin-top:20px;}
.contArea .contDirgrm .pic{padding:40px;margin:0 auto;}
.contArea .contDirgrm .pic.dir01{display:block;}
.contArea .contDirgrm .pic.dir02{display:none;}
.contArea .contDirgrm .pic img{display:block;width:100%;}
.btList{display:block;max-width:980px;margin:0 auto;padding:0 30px;margin-top:20px;}
.btList.wordP{margin-top:60px;margin-bottom:80px;}
.btList ul{display:block;}
.btList li{display:block;background-size:5px 9px;background-position:15px center;background-repeat:no-repeat;border:1px solid #c5c5c5;padding:10px 5px 10px 30px;}
.btList li:first-child{background-image:url("../img/mainPrev01.png");border-bottom:0;}
.btList li{background-image:url("../img/mainNext01.png");}
.btList li span{display:inline-block;font-weight:bold;margin:0 20px 0 0;}
.btList li a{font-size:12px;color:#333;}
.search{margin:10px 0 0 0;}
.search .searchform input[type="text"]{height:36px;}
.search .searchform input[type="submit"]{display:block;padding:9px 15px;float:right;margin:0;border-radius:0 3px 3px 0;position:relative;z-index:2;}
.CasetopTxt{display:block;margin:0 auto;max-width:980px;padding:40px 10px 20px 10px;font-size:14px;color:#333;}
.contactArea{margin:0 auto;max-width:980px;padding:20px 20px 0 20px;}
.contactArea .dirTl{font-size:16px;color:#333;padding:20px 0 20px 0;font-weight:bold;}
.contactArea .dirTl.last{padding:40px 0 0 0;}
.contactArea .agreeTxt{height:100px;overflow-y:scroll;border:1px solid #ccc;font-size:12px;padding:10px;}
.contactArea .agreeChk{display:block;text-align:center;padding:10px 0 0 0;}
.contactArea .agreeChk li{display:inline-block;margin:0 20px;font-size:14px;color:#333;}
@media all and (max-width:480px){.navigation{width:100%;height:40px;}
.main_title{top:55px;left:15px;font-size:10px;}
.main_title.fullScreen{top:10px;}
.navigation .logo{top:13px;left:50%;width:60px;margin:0 0 0 -30px;}
.navigation ul.Lmenu,.subNavi{display:none;}
.moMenu{width:32px;padding:3px;top:1px;}
.mobileOptionProduct{top:40px;}
.mobileOptionProduct ul{top:5px;}
.mobileOptionProduct ul li{margin:3px 0;}
.langSelectBox{top:-14px;right:20px;}
.moMenu{display:block;}
.footer{height:25px;line-height:25px;}
.footer span{display:inline-block;margin:0 0 0 10px;}
.footer img{display:none;}
.mainSliderBtn{margin:-70px 0 0 0;}
.prevBtn img, .nextBtn img{width:15px;}
.prevBtn{position:absolute;top:50%;left:5px;cursor:pointer;padding:10px;}
.nextBtn{position:absolute;top:50%;right:60px;cursor:pointer;padding:10px;}
.nextBtn.fullScreen{right:5px;}
#zoompage{top:60px;right:75px;width:25px;}
.zoomTool .zoomClose{padding:5px;}
.zoomTool .svgZoom{top:50px;right:5px;}
.zoomTool .svgZoom li{width:25px;margin:0 5px;}
#pageMove{display:block;}
.customSetArea, .fixmenu{display:none;}
.mobileOptionProduct, .mobileOptionTool{display:block;}
.langSelectBox{top:-15px;right:5px;}
.select_add{width:40px;}
.btnClass{min-width:90px;padding:0 10px;height:32px;line-height:32px;font-size:12px;border-radius:15px;}
.btnClass.oc{min-width:60px;width:60px;height:20px;line-height:20px;font-size:10px;border-radius:8px;margin-left:0px;}
#capLayout{width:300px;height:300px;position:absolute;top:50%;left:50%;margin:-240px 0 0 -150px;}
#canvas_capture{display:block;width:400px;height:400px;position:absolute;top:0;left:0px;}
.resultLayer .resultInfo{width:300px;bottom:10px;margin:0 0 0 -150px;}
.resultLayer .resultInfo .tableArea{width:290px;padding:5px;border-radius:5px;}
.resultLayer .resultInfo .snsArea{width:290px;padding:5px;margin:5px 0 0 0;border-radius:5px;}
.resultLayer .resultInfo .infoTl{font-size:12px;font-weight:400;padding:0 0 5px 5px;}
.resultLayer .btnArea{margin:10px 0 0 0;}
.divTable{width:100%;}
.divTable li span{display:block;float:left;height:30px;line-height:30px;background-size:40px 80px;background-position:center -5px;background-repeat:no-repeat;margin:-1px 0 0 0;}
.divTable li:first-child .codeIcn{border-top:1px solid #333;}
.divTable li:first-child .codeText{border-top:1px solid #ddd;}
.divTable li .codeIcn{width:10%;border-top:1px solid #333;}
.divTable li .codeText{width:37%;height:30px;line-height:30px;text-indent:5px;border-top:1px solid #ddd;font-size:10px;}
.divTable li .codeImg8 img{display:block;width:30px;margin:0 auto;}
.codCopy{width:100%;height:18px;padding:3px 0;background:#fff;color:#333;font-size:11px;word-break:break-all;overflow:auto;}
.codCopy input{width:95%;background:#fff;border:0;margin:0 auto;font-size:10px;height:18px;line-height:18px;}
.snsArea .copyBtn{right:10px;top:0px;min-width:50px;width:50px;height:20px;line-height:20px;font-size:10px;border-radius:10px;margin:2px -5px 0 0;text-align:center;}
.btnClass{display:inline-block;min-width:60px;padding:0 15px;height:24px;line-height:24px;font-size:11px;text-align:center;background:#fff;color:#333;border:1px solid #8a8a8a;border-radius:12px;}
.directoryMap{display:block;position:absolute;top:41px;left:0;}
.directoryMap a{margin:0 10px;}
.contentArea{min-height:400px;}
.titleArea{width:100%;padding:50px 0 25px 0;margin:66px 0 0 0;}
.titleArea .tlText{font-size:30px;line-height:33px;padding:0 15px;}
.contArea{padding-bottom:40px;}
.contArea .contText{font-size:12px;line-height:22px;padding:20px;}
.contArea .contDirgrm .dirTl{font-size:18px;color:#777;padding:0 15px;font-weight:bold;margin-top:20px;}
.contArea .contDirgrm .pic{padding:20px;margin:0 auto;margin-top:15px;}
.contArea .contDirgrm .pic.dir01{display:none;}
.contArea .contDirgrm .pic.dir02{display:block;}
.btList{padding:0 20px;}
.btList.wordP{margin-bottom:60px;}
.btList li:first-child,
.btList li{background-image:none;padding-left:15px;}
.btList li span{margin:0 10px 0 0;}
.contactArea .dirTl.last{margin:0 0 -30px 0;}
}
@media screen and (min-width:480px) and (max-width:767px){.navigation{width:100%;height:45px;}
.main_title{font-size:24px;top:60px;left:25px;}
.main_title.fullScreen{top:15px;}
.navigation .logo{top:13px;left:50%;width:70px;height:20px;margin:0 0 0 -35px;}
.navigation ul.Lmenu,.subNavi{display:none;}
.langSelectBox{top:-14px;right:20px;}
.moMenu{display:block;}
.footer{height:30px;line-height:30px;}
.footer img{width:40px;display:inline-block;vertical-align:middle;margin:0 5px 0 10px;}
.prevBtn{position:absolute;top:50%;left:10px;cursor:pointer;padding:10px;}
.nextBtn{position:absolute;top:50%;right:65px;cursor:pointer;padding:10px;}
.nextBtn.fullScreen{right:10px;}
#zoompage{top:65px;right:80px;width:25px;}
.zoomTool .svgZoom{top:75px;right:25px;}
.zoomTool .zoomClose{padding:5px;}
.zoomTool .svgZoom{top:50px;right:5px;}
.zoomTool .svgZoom li{width:25px;margin:0 5px;}
#pageMove{display:block;}
.customSetArea, .fixmenu{display:none;}
.mobileOptionProduct, .mobileOptionTool{display:block;}
.langSelectBox{top:-15px;right:5px;}
.select_add{width:40px;}
.mainSliderBtn{margin:-70px 0 0 0;}
.prevBtn img, .nextBtn img{width:15px;}
.prevBtn{position:absolute;top:50%;left:5px;cursor:pointer;padding:10px;}
.nextBtn{position:absolute;top:50%;right:60px;cursor:pointer;padding:10px;}
.nextBtn.fullScreen{right:5px;}
#capLayout{width:400px;height:400px;position:absolute;top:50%;left:50%;margin:-240px 0 0 -200px;}
#canvas_capture{display:block;width:400px;height:400px;position:absolute;top:0;left:0px;}
.resultLayer .resultInfo{width:260px;bottom:30px;margin:0 0 0 -130px;}
.resultLayer .resultInfo .tableArea{width:290px;padding:5px;border-radius:5px;}
.resultLayer .resultInfo .snsArea{width:290px;padding:5px;margin:5px 0 0 0;border-radius:5px;}
.resultLayer .resultInfo .infoTl{font-size:12px;font-weight:400;padding:0 0 5px 5px;}
.resultLayer .btnArea{margin:10px 0 0 0;}
.divTable{width:100%;}
.divTable li span{display:block;float:left;height:30px;line-height:30px;background-size:40px 80px;background-position:center -5px;background-repeat:no-repeat;margin:-1px 0 0 0;}
.divTable li:first-child .codeIcn{border-top:1px solid #333;}
.divTable li:first-child .codeText{border-top:1px solid #ddd;}
.divTable li .codeIcn{width:10%;border-top:1px solid #333;}
.divTable li .codeText{width:37%;height:30px;line-height:30px;text-indent:5px;border-top:1px solid #ddd;font-size:10px;}
.divTable li .codeImg8 img{display:block;width:30px;margin:0 auto;}
.codCopy{width:100%;height:18px;padding:3px 0;background:#fff;color:#333;font-size:11px;word-break:break-all;overflow:auto;}
.codCopy input{width:95%;background:#fff;border:0;margin:0 auto;font-size:10px;height:18px;line-height:18px;}
.snsArea .copyBtn{right:10px;top:0px;min-width:50px;width:50px;height:20px;line-height:20px;font-size:10px;border-radius:10px;margin:2px -5px 0 0;text-align:center;}
.directoryMap{display:block;}
.contentArea{min-height:400px;}
.titleArea{width:100%;padding:60px 0 35px 0;margin:66px 0 0 0;}
.titleArea .tlText{font-size:35px;line-height:33px;padding:0 20px;}
.contArea{padding-bottom:60px;}
.contArea .contText{font-size:12px;line-height:22px;padding:30px;}
.contArea .contDirgrm .dirTl{font-size:18px;color:#777;padding:0 20px;font-weight:bold;margin-top:20px;}
.contArea .contDirgrm .pic{padding:20px 50px;margin:0 auto;margin-top:15px;}
.contArea .contDirgrm .pic.dir01{display:none;}
.contArea .contDirgrm .pic.dir02{display:block;}
.btList.wordP{margin-bottom:60px;}
.contactArea .dirTl.last{margin:0 0 -30px 0;}
}
@media screen and (min-width:768px) and (max-width:1024px){.navigation .logo{display:block;position:absolute;top:25px;left:20px;width:75px;height:auto;}
.navigation ul.Lmenu li{display:inline-block;margin:0 15px;}
.navigation ul.Lmenu li a{font-size:14px;}
.prevBtn{position:absolute;top:50%;left:20px;cursor:pointer;padding:10px;}
.nextBtn{position:absolute;top:50%;right:320px;cursor:pointer;padding:10px;}
.nextBtn.fullScreen{right:20px;}
.customSetArea{bottom:55px;left:20px;width:760px;margin:0 0 0 0;}
.customSetArea .customSetList ul{display:block;width:960px;}
.contactArea .dirTl.last{margin:0 0 -30px 0;}
}
@media screen and (min-width:1280px){.main_title{font-size:34px;}
}